In [1]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('No need')

No need

In [2]:
loc = 'Bank'

if loc == 'autoshop':
    print('cool')
elif loc == 'Bank':
    print('cool')
else:
    print('dont know')

cool

In [3]:
mylist = [1, 2, 3, 4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylist:
    if num%5 == 0:
        print(num)
    else:
        print(f'not divisible by 5: {num}')

not divisible by 5: 1
not divisible by 5: 2
not divisible by 5: 3
not divisible by 5: 4
5
not divisible by 5: 6
not divisible by 5: 7
not divisible by 5: 8
not divisible by 5: 9
10

In [6]:
for _ in 'Hello':
    print('hi!')

hi!
hi!
hi!
hi!
hi!

In [7]:
#tuple unpacking
mylist = [(1,2), (2,3),(3,4)]

In [8]:
for tup in mylist:
    print(tup)

(1, 2)
(2, 3)
(3, 4)

In [9]:
for (a,b) in mylist:
    print(b)
    print(a)

2
1
3
2
4
3

In [10]:
#dictionary
#dictionary are unordered
d = {'k1':1,'k2':2,'k3':3}

In [11]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [12]:
for b in d.values():
    print(b)

1
2
3

In [13]:
#while loops
x = 0
while x <= 6:
    print(f'the current value is {x}')
    x = x + 1

the current value is 0
the current value is 1
the current value is 2
the current value is 3
the current value is 4
the current value is 5
the current value is 6

In [14]:
for num in range(15):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
#useful operators
# in range we can also add step size
for num in range(3,15,3):
    print(num)

3
6
9
12

In [16]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [17]:
#enumerate returns tuples
index_count = 0
word = "hello"
for letter in word:
    print(word[index_count])
    index_count += 1

h
e
l
l
o

In [18]:
index_count = 0
for letter in word:
    print('the letter in {} index is {}'.format(index_count, letter))
    index_count += 1

the letter in 0 index is h
the letter in 1 index is e
the letter in 2 index is l
the letter in 3 index is l
the letter in 4 index is o

In [19]:
word = "hello"
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
h


1
e


2
l


3
l


4
o

In [20]:
#zip operator returns tuples
#zip operator zips together two list
mylist = [1,2,3]
mylist1 = ['a', 'b', 'c']

In [21]:
#method 1 to zip using loop
for item in zip(mylist, mylist1):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [22]:
#method2
list(zip(mylist, mylist1))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
#method to check if an item is present in list
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'x' in [1, 'x', 'z']

True

In [26]:
# random library has many inbuilt function
# shuffle function only jumbles the list,if it is stored in another variable then it will not return any value 
from random import shuffle

In [27]:
mylist = [1, 2, 3, 4, 9, 10]

In [28]:
shuffle(mylist)

In [29]:
mylist

[4, 10, 2, 3, 1, 9]

In [30]:
#random library randint function
# used to grab random integers(we have to provide range)
from random import randint
randint(0, 100)

57

In [31]:
mynum = randint(1, 100)

In [32]:
mynum

26

In [33]:
# taking input from user
# input will always return string type
# to convert we have to do conversion of type
result = input("Enter your name:")

Enter your name:priya

In [34]:
result

'priya'

In [35]:
result_num = input("Enter your favourite number:")

Enter your favourite number:6

In [36]:
type(result_num)

str

In [37]:
float(result_num)

6.0

In [38]:
# we can wrap
result = int(input('Fav number:'))

Fav number:5

In [39]:
type(result)

int

In [40]:
# List comprehension in python

#normally
mystring = 'Hello'
mylist = []


for letter in mystring:
    mylist.append(letter)

In [41]:
mylist

['H', 'e', 'l', 'l', 'o']

In [42]:
#with list comprehension, the above example can be done as :
mylist = [letter for letter in mystring]

In [43]:
mylist

['H', 'e', 'l', 'l', 'o']

In [44]:
mylist = [x for x in 'world']

In [45]:
mylist

['w', 'o', 'r', 'l', 'd']

In [46]:
mylist = [num for num in range(1,10)]

In [47]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
mylist = [num**2 for num in range(1,9)]

In [49]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64]

In [50]:
# return even numbers from a list 
mylist = [x for x in range(0,15) if x%2 == 0]

In [51]:
mylist

[0, 2, 4, 6, 8, 10, 12, 14]

In [52]:
celcius = [0, 1, 2, 3, 4]
farenheit = [(9/5)*temp + 32 for temp in celcius]

In [53]:
farenheit

[32.0, 33.8, 35.6, 37.4, 39.2]

In [54]:
farenheit = []
for temp in celcius:
    farenheit.append((9/5)* temp + 32 )

In [55]:
farenheit

[32.0, 33.8, 35.6, 37.4, 39.2]

In [56]:
farenheit = [200, 450, 10]
celcius = [(5/9* temp) - 32 for temp in farenheit]

In [57]:
celcius

[79.11111111111111, 218.0, -26.444444444444443]

In [58]:
# if- else statements in list comprehension
#preferable not use as it decreases readibility
results = [x if x % 2 != 0 else 'EVEN' for x in range(0, 11)]

In [59]:
results

['EVEN', 1, 'EVEN', 3, 'EVEN', 5, 'EVEN', 7, 'EVEN', 9, 'EVEN']

In [60]:
start, end = 2, 11
for num in range (start,end):
    if num % 2 == 0:
        print(num, 'even')
    else:
        print(num,'odd')

2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [61]:
def check_if_even(num):
    if num % 2 == 0:
        print(num, 'is a even number')
    else:
        print(num, 'is a odd number')

In [62]:
check_if_even(2)

2 is a even number

In [63]:
def check_if_even(num):
    x = bool(num % 2 == 0)
    return x

In [64]:
check_if_even(1)

False

In [76]:
num = int(input("enter the number"))
n1, n2 = 0, 1
print("Fibonnaci series:", n1, n2, end =" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end =" ")
print()

enter the number7
Fibonnaci series: 0 1 1 2 3 5 8

In [77]:
#nested loop in list comprehension
mylist = []
for x in [1, 2, 3]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [78]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [79]:
mylist = [x*y for x in [2,4,6] for y in [100, 200, 300]]

In [80]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]